<%- include('../partials/header')%>
    <section class="container">
        <div class="row mt-3">
            <div class="col-6">
                <h1>Alunos cadastrados</h1>
            </div>
            <div class="col-6  text-center">
                <a class="btn btn-primary" href="/alunos/cadastrarAlunos">cadastrar novo aluno</a>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data de nascimento</th>
                    <th>Turma</th>
                    <th>Matrícula</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <% itens.forEach(function(aluno){%>
                    <tr>
                        <td>
                            <%=aluno.nome%>
                        </td>
                        <td>
                            <%=aluno.data_nascimento%>
                        </td>
                        <td>
                            <%=aluno.turma%>
                        </td>
                        <td>
                            <%=aluno.matricula%>
                        </td>
                        <td>
                            <a href="/alunos/editarAluno/<%= aluno._id%>" class="btn btn-warning">Editar</a>
                            <a href="deletarAluno/<%= aluno._id%>" class="btn btn-danger">Deletar</a>
                        </td>
                    </tr>
                <%})%>
                        <% if(itens.length==0){ %>
                            <div class="alert alert-warning text-center"> No momento não há alunos cadastrados no
                                sistema</div>
                        <% } %>
            </tbody>
        </table>
    </section>
<%- include('../partials/footer')%>